tutorials/data-cleaning/backend/src/data_cleaning.json
{
  "definition": {
    "Comment": "Data Cleaning Workflow",
    "StartAt": "MakePredictions",
    "States": {
      "MakePredictions": {
        "Type": "Task",
        "Resource": "las:transition:<hex>",
        "Next": "Compare"
      },
      "Compare": {
        "Type": "Task",
        "Resource": "las:transition:<hex>",
        "Next": "CorrectOrNot"
      },
      "CorrectOrNot": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.needsCorrection",
            "BooleanEquals": true,
            "Next": "ManualCorrection"
          },
          {
            "Variable": "$.needsCorrection",
            "BooleanEquals": false,
            "End": true
          }
        ]
      },
      "ManualCorrection": {
        "Type": "Task",
        "Resource": "las:transition:<hex>",
        "TimeoutSeconds": 900,
        "Retry": [
          {
            "ErrorEquals": [
              "States.Timeout"
            ],
            "IntervalSeconds": 3,
            "MaxAttempts": 50,
            "BackoffRate": 1
          }
        ],
        "Next": "Feedback"
      },
      "Feedback": {
        "Type": "Task",
        "Resource": "las:transition:<hex>",
        "End": true
      }
    }
  }
}
